.caroselConteiner{
    background-color: aqua;
    overflow: hidden;
    text-align: center;

    display: flex;
}
.caroselConteiner > div{
    background:black;
}
.caroselConteiner > section{
    background:green;
    width: 1000px;
    flex-grow: 1;
    z-index: 2;
}


.mainImage{
    width: auto;
    height: 100%;
    transition: 1s;
    z-index: 0;
    
}
.newImage{
    width: auto;
    height: 100%;
    transition: 1s;
    z-index: 0;
    
}    
.newImage:hover{
    width: auto;
    height: 100%;
    transition: 1s;
    transform: translateX(-100%);   
    z-index: 0;
}

.caroselConteiner button{
    width: auto;
    height: 100%;
    z-index: 1;

}