.caroselContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.imagesFlex {
    display: flex;
    
    height: 100%;
    overflow: hidden;
}

.imagesFlex  img{
    width: 100%;
    max-height: 100%;
    flex: none;
    object-fit: cover;
    transition: 2s;
}

.controlls{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: space-between;
}

.caroselContainer button{
    position: relative;
    top: -50%;
    transform: translateY(-50%);
    
    background-color: rgba(176, 137, 212, 0.4);
    color: rgb(160, 160, 160);

    font-size: 2em;

    height: 25%;
    max-width: 40px;
    width: 2%;
    min-width: 25px;
    margin: 0 20px;

    
    border: none;
    border-radius: 10px;

    transition: 0.3s;
    cursor: pointer;
    
}

.caroselContainer button.nextBtn{
    
    
}

.caroselContainer button:hover{
    background-color: rgba(176, 137, 212, 0.7);
}


